
.navbar_container{
    padding-right: 20px;
    padding-left: 20px;
}

.navbar_container img{
    width: 130px;
    height: 20px;
}

.header_content{
    width: 95%;
    flex-direction: row;
    gap: 0;
}

.header_info{
    width: 75%;
    text-align: start;
    padding-left: 10px;
}
.header_info h1{
    font-size: 3.2rem;
}

.header_info button{    
    margin-right: 250px;

}

.header_content img{
    padding-top: 10px;
    width: 100%;
    max-width: 550px;
    height: 100%;
    min-height: 350px;
    max-height: 400px;
}

.value_card{
    width: 97%;
    flex-direction: row;
    text-align: left;
}

.value_container .value_card--grow, .value_container .value_card--users{
    flex-direction:  row-reverse;
}

.value_container .value_card--grow img, .value_container .value_card--users img{
    padding-right: 40px;
}

.value_container .value_card--flowing img{
    padding-left: 40px;
}

.value_container .value_card--grow div, .value_container .value_card--users div{
    padding-left: 40px;
}

.value_container .value_card--flowing div{
    padding-left: 40px;
}

.value_container .value_card--grow div p, .value_container .value_card--users div p{
    width: 80%;
}

.value_card div{
    align-items: flex-start;
}

.footer_button{
    width: 500px;
    height: 170px;
    left: calc(50% - 250px);
    top: -110px;
}

@media (min-width: 1000px) {
    .header_info{
        padding-left: 30px;
        padding-right: 30px;
        width: 59%;
    }

    .header_info h1{
        font-size: 3.7rem;
    } 
    .header_info p{
        font-size: 1.7rem;
    }
    .value_card{
        padding: 70px 0;
    }

    .value_card img{
        max-width: 420px;
        height: 300px;
    }

    .value_card h2{
        font-size: 2.5rem;
    }

    .value_card div{
        width: 58%;
    }

    .value_card p{
        font-size: 1.9rem;
        line-height: 2.6rem;
    }

    .footer_button{
        top: -140px;
        left: calc(50% - 310px);
        width: 620px;
        height: 210px;
    }
    .footer_button h3{
        font-size: 2.3rem;
    }
    .footer_button button{
        width: 290px;
        height: 60px;
        font-size: 1.3rem;
    }

    .footer_content{
        flex-direction: row;
        gap: 50px;
        height: 450px;
    }
    .footer_info ul{
        height: 300px;
    }
    .footer_logo{
        width: 220px;
        height: 35px;
    }
    .footer_links ul{
        display: grid;
        grid-template-columns: repeat(2,minmax(100px, 150px));
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        "About-us Career"
        "What-we-do Blog"
        "FAQ Contact-us"      
        ;
        gap: 10px; 
    }
    .footer_links li:nth-child(1){
        grid-area: About-us;
    }
    .footer_links li:nth-child(2){
        grid-area: What-we-do;
    }
    .footer_links li:nth-child(3){
        grid-area: FAQ;
    }

    .footer_logos div{
        height: 100px;
        justify-content: space-between;
    }

    .footer_logos{
        text-align: start;
        margin: 60px 0 40px 0;
    }
}